<!DOCTYPE html>

<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Infinite Card Slider JavaScript | CodingNepal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=REM:wght@200&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-wrapper">
    <div class="wrapper">
        <ul class="carousel-container">
            <div class="curtain-carousel-right" onclick="openCurtains()">
                <img src="/rightpokdexcurtain.png">
            </div>
            <div class="curtain-carousel-left" onclick="openCurtains()">
                <img src="/leftpokdexcurtain.png">
            </div>
        </ul>
        <div class="buttons">
            <div id="left" class="btn-circle left"><img src="/leftarrow.svg" onclick="nextImg(-1)"></div>
            <div id="right" class="btn-circle right"><img src="/rightarrow.svg" onclick="nextImg(1)"></div>
        </div>
        <div class="message" role="alert" id="message">
            -- Movete a scambià sti cazzo de pokémon.... daje n' pò. --
        </div>
    </div>
</div>
</body>
</html>