html{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
body{
    position: absolute;
    top: 0%;
    height: 100vh;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(https://media.discordapp.net/attachments/1093471819295637554/1133710961308598303/background1.jpg);
    background-size: 100%;
    font-family: 'Permanent Marker', cursive;
    font-family: 'REM', sans-serif;
}

.content-to-change{
    height: 100%;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.curtain-carousel-left{
    position: relative;
    right: 31.3%;
    width: 31.3%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .01);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.curtain-carousel-right{
    position: relative;
    left: 31.3%;
    width: 31.2%;
    height: 100%;
    z-index: 2;
    background-color: rgb(242 47 47 / 1%);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.curtain-carousel-right img{
    width: 100%;
    height: 85%;
    border-radius: 0% 10% 10% 0%;
}
.curtain-carousel-left img{
    width: 100%;
    height: 85%;
    border-radius: 10% 0% 0% 10%;
}
.carousel-container{
    overflow: hidden;
    height: 50%;
    width: 70%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    z-index: 0;
    margin: 0% auto;
}
.buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    bottom: 38%;
    width: 55%;
    z-index: 11;
    opacity: 0;
    margin-bottom: 10%;
    left: 22.5%;
}

.buttons div.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: red solid 0.2em;
    transition: transform 0.8s;
    z-index: 2;
    background-color: aliceblue;
 

}
.buttons div.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: red solid 0.2em;
    transition: transform 0.8s;
    z-index: 2;
    background-color: aliceblue;
}

.buttons div img{
    height: 50%;
    width: 50%;
    margin: auto;
}

button[data-bs-dismiss="modal"]{
    background-color: ffcc00;
}

.btn-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card{
    position: absolute;
    vertical-align: bottom;
    top: 10%;
    text-align: center;
    transition: transform 0.8s;
    border-radius: 3%;
    border: solid 1px #004c8c;
    background: linear-gradient(217deg, rgba(255,204,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(130deg, rgba(255,204,0,.8), rgba(255,204,0,.8) 70.71%),
    linear-gradient(350deg, rgba(0,0,255,.9), rgba(0,0,255,.8) 70.71%);  
}

.card button{
    border-radius: 3%;
    width: 60%;
    background-color: #004c8c;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 10%;
}

.card .img{
    display: flex;
    justify-content: center;
}

img[src="/logo_pokemon_daje.png"]{
    width: 30%;
}

#modalPokemon{
    position: absolute;
    height: 48%;
    width: 23%;
    top: 20%;
    left: 38%;
    background: white;
    z-index: 10;
    visibility: hidden;
    transition: transform 0.8s;
    transform: translate(-50%, -50%) scale(0.1) scale(1);
    border-radius: 3% ;
    border: solid 1px #004c8c;
    background: linear-gradient(217deg, rgba(255,204,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(130deg, rgba(255,204,0,.8), rgba(255,204,0,.8) 70.71%),
    linear-gradient(350deg, rgba(0,0,255,.9), rgba(0,0,255,.8) 70.71%);  
    text-align: left;
}
#modalPokemon img{
    width: 10%;
}
#modalPokemon h5{
    padding-left: 5%;
    font-weight: bold;
    font-size: 1em;
    padding-top: 7%;
}
#modalPokemon p{
    padding-left: 5%;
    font-weight: bold;
    font-size: 1em;
    padding-top: 7%;

}
#message{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 3.00rem;
    margin: 30px 0 5px;
    color: #ffcc00;
    text-shadow: 6px 6px #004c8c;
}