html{
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}
body{
    position: absolute;
    top: 0%;
    height: 100vh;
    text-align: center;
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(https://media.discordapp.net/attachments/1093471819295637554/1133710961308598303/background1.jpg);
    background-size: 100%;
    font-family: 'Tektur', cursive;
}

.content-to-change{
    height: 100%;
}

.wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.curtain-carousel-left{
    position: relative;
    right: 31.3%;
    width: 31.3%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0, 0, 0, .01);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.curtain-carousel-right{
    position: relative;
    left: 31.3%;
    width: 31.3%;
    height: 100%;
    z-index: 2;
    background-color: rgb(242 47 47 / 1%);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}
.curtain-carousel-right img{
    width: 100%;
    height: 85%;
    border-radius: 0% 10% 10% 0%;
}
.curtain-carousel-left img{
    width: 100%;
    height: 85%;
    border-radius: 10% 0% 0% 10%;
}
.carousel-container{
    overflow: hidden;
    height: 50%;
    width: 70%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0;
    z-index: 0;
    margin: 0% auto;
}
.buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    bottom: 38%;
    width: 55%;
    z-index: 11;
    opacity: 0;
    margin-bottom: 10%;
    left: 22.5%;
}

.buttons div.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: red solid 0.2em;
    transition: transform 0.8s;
    z-index: 2;
    background-color: aliceblue;
}
.buttons div.left:hover{
    transform: scale(1.1);
    background-color: #ff0000d7;
   border: solid 2px #ffffff;
   cursor: pointer;

}
.buttons div.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: #ff0000d7 solid 0.2em;
    transition: transform 0.8s;
    z-index: 2;
    background-color: aliceblue;
}
.buttons div.right:hover{
    transform: scale(1.1);
    background-color: #ff0000;
   border: solid 2px #ffffff;
   cursor: pointer;

}

.buttons div img{
    height: 50%;
    width: 50%;
    margin: auto;
}

button[data-bs-dismiss="modal"]{
    background-color: ffcc00;
}

.btn-circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card{
    position: absolute;
    vertical-align: bottom;
    top: 10%;
    text-align: center;
    transition: transform 0.8s;
    border-radius: 3%;
    border: solid 1px #004c8c;
}

.card button{
    border-radius: 3%;
    width: 60%;
    background-color: #004c8c;
    margin-left: 20%;
    margin-bottom: 5%;
    border-radius: 10%;
}
.card button:hover{
    transform: scale(1.1);
    background-color: #ffffff;
    color: #004c8c;
    }
.card .img{
    display: flex;
    justify-content: center;
}

img[src="/logo_pokemon_daje.png"]{
    width: 30%;
}
.body-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#modalPokemon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    height: 48%;
    width: 23%;
    top: 20%;
    left: 38%;
    visibility: hidden;
    border-radius: 3%;
    border: solid 1px #004c8c;
    text-align: justify-all;
}
#general-info{
    margin: 0 25%;
    text-align: left;
}
#modalPokemon img{
    width: 20%;
    padding-left: 3%;
}
#modalPokemon h5{
    font-weight: bold;
    font-size: 1em;
}
#modalPokemon p{
    font-weight: bold;
    font-size: 1em;
}
#modalPokemon #moves-table{
    margin: 3%;
    border-radius: 10%;
    padding: 1%;
}
#modalPokemon #moves-table thead tr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
}
#modalPokemon #moves-table thead tr th{
    font-size: 2em;
}
#modalPokemon #moves-table #moves-table-body{
    border-radius: 10%;
    width: 100%;
}
#modalPokemon #moves-table #moves-table-body tr{
    margin: 0 5%;
    padding: 2%;
    border-radius: 15%;
}
#modalPokemon #moves-table tr{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: auto;
}
#modalPokemon #moves-table tr td{
    text-align: left;
}
#close-box{
   position: absolute;
    top: 1%;
    right: 2%;
}
#close{
    font-size: .9vw; /* Imposta la dimensione del testo in percentuale relativa alla larghezza del viewport */
    border: #66ff66 solid  2px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 30%;
    color: #66ff66;
}
#close:hover {
transform: scale(1.2);
  }

#message{
    font-family: 'Permanent Marker', cursive;
    font-weight: 500;
    font-size: 3.00rem;
    margin: 30px 0 5px;
    color: #ffcc00;
    text-shadow: 6px 6px #004c8c;
}

/*.animate-jolly{*/
/*    animation-name: example;*/
/*    animation-duration: 4s;*/
/*}*/

@keyframes jolly-transformation {
    0%{
        z-index: 2;
        visibility: visible;
        opacity: 1;
        transform: rotate(15deg) scale(1);
    }
    12.5%{
        z-index: 2;
        visibility: visible;
        opacity: 1;
        transform: rotate(-15deg) scale(1);
    }
    25%{
        z-index: 2;
        visibility: visible;
        opacity: 0.8;
        transform: rotate(15deg) scale(0.8);
    }
    37.5%{
        z-index: 2;
        visibility: visible;
        opacity: 0.8;
        transform: rotate(-15deg) scale(0.8);
    }
    50%{
        z-index: 2;
        visibility: visible;
        opacity: 0.7;
        transform: rotate(15deg) scale(1.2);
    }
    62.5%{
        z-index: 2;
        visibility: visible;
        opacity: 0.7;
        transform: rotate(-15deg) scale(1.2);
    }
    75%{
        z-index: 2;
        visibility: visible;
        opacity: 0.5;
        transform: rotate(-15deg) scale(0.8);
    }
    87.5%{
        z-index: 2;
        visibility: visible;
        opacity: 0.5;
        transform: rotate(15deg) scale(0.8);
    }
    100%{
        z-index: 2;
        visibility: visible;
        opacity: 0.2;
        transform: rotate(0deg) scale(1);
        visibility: hidden;
    }
}